*{
  margin: 0;
  padding: 0;
  color: black;
  box-sizing: border-box;
  text-decoration: none;
  list-style: none;
  transition: all 0.5s ease-in-out;
  /* border: 1px solid red; */
}
body {
  min-height: 100vh;
  min-width: 100vw;
  /* background-color:rgb(15, 15, 15); */
  background-repeat: no-repeat;
  background-size:cover;
  background-position: center;
  backdrop-filter: blur(5px);
  color:var(--primary-text-color);
  font-family: 'Nanum Gothic', sans-serif;
  font-family: 'Quicksand', sans-serif;
}
.container{
  min-height: 100vh;
  max-width: 1180px;
  width: 100%;
  margin: auto;
}
.flex-column {
  flex-direction: column;
}
.flex-justify-between {
  justify-content: space-between;
}
.flex-justify{
  justify-content: center;
}
.flexing{
  display: flex;
  align-items: center;
}
.wrapping{
  flex-wrap: wrap;
}
.flex-column{
  flex-direction: column;
}
.fullName{
  color: rgb(0, 0, 0);
}
.home-btn{
  text-decoration: none;
  color: white;
  font-size: 1rem;
  padding: 0.5rem;
  border: 1px solid white;
}
.books {
  width: 100%;
  height: auto;
  gap: 1rem;
}
.book{
  max-width: 25%;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.229);
  padding-bottom: 0.5rem;
  width: 390px;
  border-radius: 10px;
  border: 1px solid white;
  text-align: center;
}
.book .cover{
  height: 200px;
  width: 100%;
}
.book img {
  height: 100%;
  width: 100%;
  object-fit: cover;
}
.menu {
  padding: 1rem;
}
a{
  text-decoration: none;
  color: white;
  border: 1px solid white;
  margin: 1rem;
  font-size: 1rem;
  padding: 0.5rem;
  background-color: black;
  border-radius: 5px 0 5px 0;
}
.load-more{
  font-size: 1rem;
  padding: 0.5rem;
  cursor: pointer;
  margin: 1rem;
}
#btn{
  cursor: pointer;
  padding: 0.5rem;
  border: none;
  border-radius: 10px;
}
.added{
  background-color: rgb(56, 251, 56);
}
#title, #author {
  color: rgb(0, 0, 0);
}