{% include "mainpagehtmlstarter.html.twig" %}
	<body userId = {{id}}>
    <div class="container flex-column flexing flex-justify">
      <h1 class="fullName">{{fullName}}</h1>
      <br>
      <a class="home-btn" href="/home">Home</a>
      <section class="books flexing flex-justify wrapping">

      </section>
      <button class="load-more">Load More</button>
    </div>
  </body>
  <script src="js/postsHandler.js"></script>
</html>