{% include "mainpagehtmlstarter.html.twig" %}
	<body>
    <div class="container flex-column flexing flex-justify">
      <h1>Your Bucket List</h1>
      <section class="bucket">
        
      </section>
      <button class="load-more">Load More</button>
    </div>
  </body>
  <script src="js/bucketlist.js"></script>
</html>