{% include "mainpagehtmlstarter.html.twig" %}
	<body>
    <div class="container flex-column flexing flex-justify">
      <h1>Your WishList</h1>
      <a class="home-btn" href="/home">Goto Home</a>
      <section class="books flexing flex-justify wrapping">
        
      </section>
      <button class="load-more">Load More</button>
    </div>
  </body>
  <script src="js/wishlist.js"></script>
</html>